[submodule "FCP-Tools"]
	path = FCP-Tools
	url = https://github.com/FalloutCollaborationProject/FCP-Tools.git
[submodule "FCP-NCR"]
	path = FCP-NCR
	url = https://github.com/FalloutCollaborationProject/FCP-NCR.git
[submodule "FCP-Caesars-Legion"]
	path = FCP-Caesars-Legion
	url = https://github.com/FalloutCollaborationProject/FCP-Caesars-Legion.git
[submodule "FCP-Ballistic-Weapons"]
	path = FCP-Ballistic-Weapons
	url = https://github.com/FalloutCollaborationProject/FCP-Ballistic-Weapons.git
[submodule "FCP-Energy-Weapons"]
	path = FCP-Energy-Weapons
	url = https://github.com/FalloutCollaborationProject/FCP-Energy-Weapons.git
